<html>
<head><title>Radix Tree</title>

<style>
.node{
	 border:1px solid #333; 
	 padding:10px;
	 background:#aaa;
	 color:#fff;
	 font-family:'Arial';
	 float:left;
	 clear:both;
	 border-radius:20px;
}
</style>
</head>

<body>
<%- tree %>
</body>

</html>